.chat-message {
    max-width: none;
}

.chat-message-user {
    align-self: stretch;
    background-color: var(--color-neutral-200);
    padding: 1rem;
    border-radius: 1rem;
    white-space: pre;
}

.chat-message-assistant {
    align-self: flex-start;
    background-color: transparent;
    padding: 0.75rem 0;
    border-radius: 0;
    color: var(--color-netural-950);
}

.markdown-content h1 {
    margin: 0.5em 0;
    font-size: 1.5em;
    font-weight: 600;
}

.markdown-content h2 {
    margin: 0.4em 0;
    font-size: 1.25em;
    font-weight: 600;
}

.markdown-content h3 {
    margin: 0.3em 0;
    font-size: 1.1em;
    font-weight: 600;
}

.markdown-content strong {
    font-weight: 600;
}

.markdown-content em {
    font-style: italic;
}

.markdown-content li {
    margin-left: 1.5em;
}
