.chat-message {
    max-width: none;
}

.chat-message-user {
    align-self: stretch;
    background-color: var(--color-neutral-200);
    padding: 1rem;
    border-radius: 1rem;
    white-space: pre;
}

.chat-message-assistant {
    align-self: flex-start;
    background-color: transparent;
    padding: 0;
    border-radius: 0;
    color: var(--color-netural-950);
    line-height: 1;
}

.chat-message-assistant h1 {
    font-size: 1.875rem;
    font-weight: 700;
    margin: 1.5rem 0;
}

.chat-message-assistant h2 {
    font-size: 1.625rem;
    font-weight: 700;
    margin: 1.5rem 0;
}

.chat-message-assistant h3 {
    font-size: 1.375rem;
    font-weight: 700;
    margin: 1.5rem 0;
}

.chat-message-assistant h4 {
    font-size: 1.25rem;
    font-weight: 700;
    margin: 1.5rem 0;
}

.chat-message-assistant h5 {
    font-size: 1.125rem;
    font-weight: 700;
    margin: 1.5rem 0;
}

.chat-message-assistant h6 {
    font-size: 1.125rem;
    font-weight: 600;
    margin: 1.5rem 0;
}

.chat-message-assistant strong {
    font-weight: 700;
    margin: 1.5rem 0;
}

.chat-message-assistant em {
    font-style: italic;
    margin: 1.5rem 0;
}

.chat-message-assistant ul {
    padding-left: 1rem;
}

.chat-message-assistant ol {
    padding-left: 1rem;
}

.chat-message-assistant li {
    margin-left: 1.5em;
    margin: 1.5rem 0;
}
