.chat-input-wrapper {
    display: flex;
    align-items: flex-end;
    gap: 0.5rem;
    padding: 1rem 1.25rem;
    border-radius: 1rem;
    border: 1px solid var(--color-neutral-300);
    max-width: 48rem;
    width: 100%;
    max-height: none;

    --control-height: 2rem;
}

.chat-input-field {
    flex: 1;
    box-shadow: none;
    background-color: transparent;
    font-size: 1rem;
    line-height: 1.5;
    padding: 0.25rem 0.6rem;
    border: none;
    resize: none;
    box-sizing: border-box;

    min-height: 2rem;
    height: var(--textarea-height, 2rem);
    overflow-y: var(--textarea-overflow, hidden);
}

.chat-input-field:focus {
    outline: none;
}

.chat-input-button {
    height: 2rem;
    width: 2rem;
    background-color: var(--color-orange-500);
}

.chat-input-button:hover:not(:disabled) {
    background-color: var(--color-orange-600);
}

.chat-input-button:disabled {
    opacity: 0.5;
}
