.wrapper {
    display: flex;
    align-items: flex-end;
    gap: 0.5rem;
    padding: 1rem 1.25rem;
    border-radius: 1rem;
    border: 1px solid var(--color-neutral-300);
}

.inner {
    flex: 1;
    display: grid;
    max-height: 10rem;
}

.field,
.mirror {
    /* Stack them on top of each other */
    grid-area: 1 / 1;

    /* shared typography and padding to match sizes exactly */
    font-size: 1rem;
    line-height: 1.33;
    padding: 0.25rem 0.6rem;
    box-sizing: border-box;
    width: 100%;

    min-height: 2rem;
    max-height: 10rem;
}

.mirror {
    /* Make invisible but present for sizing */
    visibility: hidden;
    pointer-events: none;

    /* Ensure text wrapping matches textarea */
    white-space: pre-wrap;
    overflow-y: hidden;
    overflow-wrap: break-word;
}

.field {
    box-shadow: none;
    background-color: transparent;
    border: none;
    resize: none;

    /* Hide scrollbar until content exceeds container */
    overflow-y: hidden;
}

.inner:has(.mirror) .field {
    overflow-y: auto;
}

.field:focus {
    outline: none;
}

.buttonWrapper {
    height: 1.75rem;
    width: 1.75rem;
    padding: 0.375rem;
    background-color: var(--color-orange-500);
}

.buttonIcon {
    height: 1rem;
    width: 1rem;
    color: var(--color-white);
}

.buttonWrapper:hover:not(:disabled) {
    background-color: var(--color-orange-600);
}

.buttonWrapper:disabled {
    opacity: 0.5;
}
