.message {
    max-width: none;
}

.user {
    align-self: stretch;
    background-color: var(--color-neutral-200);
    padding: 1rem;
    border-radius: 1rem;
    white-space: pre-wrap;
    word-break: break-word;
}

.assistant {
    align-self: stretch;
    width: 100%;
    background-color: transparent;
    padding: 0;
    border-radius: 0;
    color: var(--color-neutral-950);
    line-height: 1.5;
}

.assistant h1 {
    font-size: 1.875rem;
    font-weight: 700;
    margin: 1.5rem 0;
}

.assistant h2 {
    font-size: 1.625rem;
    font-weight: 700;
    margin: 1.5rem 0;
}

.assistant h3 {
    font-size: 1.375rem;
    font-weight: 700;
    margin: 1.5rem 0;
}

.assistant h4 {
    font-size: 1.25rem;
    font-weight: 700;
    margin: 1.5rem 0;
}

.assistant h5 {
    font-size: 1.125rem;
    font-weight: 700;
    margin: 1.5rem 0;
}

.assistant h6 {
    font-size: 1.125rem;
    font-weight: 600;
    margin: 1.5rem 0;
}

.assistant strong {
    font-weight: 700;
    margin: 1.5rem 0;
}

.assistant em {
    font-style: italic;
    margin: 1.5rem 0;
}

.assistant ul {
    padding-left: 1rem;
}

.assistant ol {
    padding-left: 1rem;
}

.assistant li {
    margin-left: 1.5em;
    margin: 1.5rem 0;
}

.assistant table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
}

.tableWrapper {
    width: 100%;
    overflow-x: auto;
    margin: 1.5rem 0;
}

.assistant th,
.assistant td {
    padding: 0.75rem;
    border: 1px solid var(--color-neutral-300);
}

.assistant th {
    background-color: var(--color-neutral-100);
    font-weight: 600;
}
