# The backend of SciEdu
VITE_BACKEND_BASE_URL="https://api.sciedu.sdc.nycu.club"

# Whether to enable the standalone chat interface
VITE_FEATURE_ENABLE_CHAT=true

# Whether to enable the standalone course interface
VITE_FEATURE_ENABLE_COURSE=true
