# The backend of SciEdu
VITE_BACKEND_BASE_URL="https://api.sciedu.sdc.nycu.club"

# This frontend should only serve as either an educational
# content provider (edu mode), as a standalone llm (llm
# mode) or enable both during development (dev mode)
# The following feature should be one of edu/llm/dev
VITE_APP_MODE=
