# The backend of SciEdu
VITE_BACKEND_BASE_URL="https://api.sciedu.sdc.nycu.club"

# This frontend should only serve as either an educational
# content provider (edu mode) or as a standalone llm (llm
# mode). The following feature should be of either edu or llm
VITE_APP_MODE=

# Whether to enable all features during dev (overrides previous
flag's settings)
VITE_DEV_ENABLE_ALL_FEATURES=true/false
