.chat-input-wrapper {
    display: flex;
    gap: 0.5rem;
    padding: 1rem 1.25rem;
    border-radius: 1rem;
    border: 1px solid var(--color-neutral-300);
    max-width: 40rem;
    width: 100%;
    max-height: 10rem;
    align-items: flex-end;
}

.chat-input-field {
    flex: 1;
    box-shadow: none;
    background-color: transparent;
    line-height: 1.5;
    border: none;
    resize: none;
}

.chat-input-field:focus {
    outline: none;
}

.chat-input-button {
    background-color: var(--color-orange-500);
}

.chat-input-button:hover:not(:disabled) {
    background-color: var(--color-orange-600);
}

.chat-input-button:disabled {
    opacity: 0.5;
}
