.chat-message-list-scroll {
    flex: 1;
    padding: 1rem;
    overflow-y: auto;
    overflow-x: hidden;
}

.chat-message-list-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 50rem;
    margin: 0 auto;
}
