.container {
    display: flex;
    flex-direction: column;
    height: 100dvh; /* for mobile */
    height: 100vh; /* fallback */
    width: 100%;
    overflow: hidden;
    background-color: var(--color-neutral-50);

    /*safe area for notched phones*/
    padding-top: env(safe-area-inset-top);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
}

.content {
    display: flex;
    flex: 1;
    flex-direction: column;

    min-height: 0;
    overflow: hidden;
}

.inputWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem;
    padding-bottom: calc(0.75rem + env(safe-area-inset-bottom));
    background-color: var(--color-neutral-50);
}

.inputWrapper > * {
    width: 100%;
    max-width: 50rem;
}

@media (max-width: 40rem) {
    .container {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}
