@import "@fontsource/noto-serif-tc/latin-600.css";
@import "@fontsource/noto-serif-tc/latin-700.css";

@font-face {
    font-family: "GenYoGothic2 TW";
    src: url("../assets/fonts/GenYoGothic2TW-R.otf") format("opentype");
    font-display: swap;
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "GenYoGothic2 TW";
    src: url("../assets/fonts/GenYoGothic2TW-B.otf") format("opentype");
    font-display: swap;
    font-style: normal;
    font-weight: 700;
}
