.pageContainer {
    flex: 1;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.tableContent {
    flex: 1;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
}

.comparisonTable {
    table-layout: fixed;
    width: 100%;
    border-collapse: separate;
    font-size: 14px;
    line-height: 1.6;
    color: #333;
    border: 0.1rem solid #7dc8b7;
    border-radius: 0.9375rem;
    border-spacing: 0;
    overflow: hidden;
}

.comparisonTable th {
    background-color: #7dc8b7;
    color: #000;
    padding: 0.25rem 0.75rem;
    text-align: left;
    font-weight: bold;
}

.comparisonTable td {
    height: 5rem;
    border: 0.0625rem solid #7dc8b7;
    border-bottom: none;
    padding: 0.25rem 0.75rem;
    vertical-align: top;
}

.comparisonTable th:last-child,
.comparisonTable td:last-child {
    border-right: none;
}

.comparisonTable th:first-child,
.comparisonTable td:first-child {
    border-left: none;
}

.tdTitle {
    width: 10%;
    font-weight: bold;
    background-color: #ffffff;
    color: #444;
}

.tdContent {
    text-align: justify;
}

.footerNav {
    flex-shrink: 0;
    padding: 1rem 0;
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
}
