.page-container {
    flex: 1;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.table-content {
    flex: 1;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
}

.comparison-table {
    table-layout: fixed;
    width: 100%;
    border-collapse: separate; /*  border-radius */
    width: 100%;

    font-size: 14px;

    line-height: 1.6;

    color: #333;

    border: 0.1rem solid #7dc8b7;

    border-radius: 0.9375rem;

    border-spacing: 0;

    overflow: hidden;

    margin-bottom: 0%;
}

.comparison-table th {
    background-color: #7dc8b7;
    color: rgb(0, 0, 0);
    padding: 0.25rem 0.75rem;
    text-align: left;
    font-weight: bold;
}

.comparison-table td {
    height: 5rem;
    border: 0.0625rem solid #7dc8b7;
    border-bottom: none;
    padding: 0.25rem 0.75rem;
    vertical-align: top;
}

.comparison-table th:last-child,
.comparison-table td:last-child {
    border-right: none;
}

.comparison-table th:first-child,
.comparison-table td:first-child {
    border-left: none;
}

.td-title {
    width: 10%;
    font-weight: bold;
    background-color: #ffffff;
    color: #444;
}

.th-classical,
.th-material {
    width: 42.5%;
}

.td-content {
    text-align: justify;
}

.footer-nav {
    flex-shrink: 0;
    padding: 1rem 0;
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
}

.shadow-button {
    cursor: pointer;
    background-color: #79c5bc;
    width: 21.875rem;
    height: 2.1875rem;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.15);
    transition:
        transform 0.2s,
        box-shadow 0.2s;
}

.shadow-button:hover {
    box-shadow: 0 0.375rem 1rem rgba(0, 0, 0, 0.2);
    transform: translateY(-0.0625rem);
}

.shadow-button:active {
    transform: translateY(0.0625rem);
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}
