.page-container {
    padding: 0;
    margin: 0;
}

.table-content {
    padding: 5px 20px;
    background-color: #fff;
}

.comparison-table {
    width: 100%;
    font-size: 0.95rem;
    line-height: 1.6;
    color: #333;
    border: 1.1px solid #7dc8b7;
    border-radius: 15px 15px 15px 15px;
    border-spacing: 0;
    overflow: hidden;
    margin-bottom: 0%;
}

.comparison-table th {
    background-color: #7dc8b7;
    color: rgb(0, 0, 0);
    padding: 12px;
    text-align: left;
    font-weight: bold;
}

.comparison-table td {
    border: 1px solid #7dc8b7;
    padding: 15px;
    vertical-align: top;
}

/* 標題欄位寬度與樣式 */
.td-title {
    width: 15%;
    font-weight: bold;
    background-color: #ffffff;
    color: #444;
}

/* 內容欄位寬度 */
.th-classical,
.th-molecular {
    width: 42.5%;
}

.td-content {
    text-align: justify;
}

/* 下一頁按鈕 */
.footer-nav {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.shadow-button {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition:
        transform 0.2s,
        box-shadow 0.2s;
}

.shadow-button:hover {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-1px);
}

.shadow-button:active {
    transform: translateY(1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
