/* Container */
.page-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden; /* prevent overflow */
}

/* Content wrapper */
.content-wrapper {
    display: flex;
    gap: 2.2rem; /* 40px */
    padding: 0 2rem;
    flex: 1;
    min-height: 0; /* approve shrink*/
    position: relative;
    overflow: hidden;
}

.content-wrapper::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 3rem;
    bottom: 1.2rem;
    width: 0.0625rem; /* 1px -> 0.0625rem */
    background-color: #79c5bc;
    transform: translateX(-50%);
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    min-height: 0;
    padding-bottom: 1rem;
}

/* Column header styles */
.column-header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.column-header h2 {
    font-size: 16px;
    color: #333;
    margin: 0 0.5rem;
}

/* Question card styles */
.question-card {
    border: 0.09375rem solid #7dc8b7;
    border-radius: 0.75rem;
    padding: 0.5rem;
    flex: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.question-title {
    font-size: 14px;
    color: #666;
    font-weight: bold;
    margin: 0 0 0.3rem 0;
}

.question-text {
    font-size: 14px;
    line-height: 1.6;
    color: #2c3e50;
    margin: 0 0 0.3rem 0;
}

/* Footer actions */
.footer-actions {
    flex-shrink: 0;
    padding: 1rem 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.5rem;
    background-color: transparent;
}

.shadow-button {
    cursor: pointer;
    background-color: #79c5bc;
    width: 21.875rem;
    height: 2.1875rem;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.15);
    transition:
        transform 0.2s,
        box-shadow 0.2s;
}

.shadow-button:hover {
    box-shadow: 0 0.375rem 1rem rgba(0, 0, 0, 0.2);
    transform: translateY(-0.0625rem);
}

.shadow-button:active {
    transform: translateY(0.0625rem);
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}
