.textInput {
    height: 100%; /* fill up quiz-content */
    width: 100%;
    border: none;
    resize: none;
    background-color: transparent;
    outline: none;
}

.textInput > textarea {
    padding: 0;
}

.textInput:focus {
    outline: none;
}
