.chat-page-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--color-neutral-50);
}

.chat-page-header {
    padding: 16px;
    background-color: #333;
    color: white;
}

.chat-page-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.chat-page-input-wrapper {
    padding: 16px;
    display: flex;
    justify-content: center;
}
