name: Lint, Build and Deploy to Stage

on:
    push:
        tags:
            - "v*"

jobs:
    Lint:
        name: Lint with ESLint
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Install pnpm
              uses: pnpm/action-setup@v4
              with:
                  version: 9

            - name: Set up Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: 24

            - name: Install dependencies
              run: pnpm install

            - name: Run ESLint
              run: pnpm lint

    Format:
        name: Check formatting with Prettier
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Install pnpm
              uses: pnpm/action-setup@v4
              with:
                  version: 9

            - name: Set up Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: 24

            - name: Install dependencies
              run: pnpm install

            - name: Run Prettier

              run: pnpm format

    Build:
        name: Build Vite production
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Install pnpm
              uses: pnpm/action-setup@v4
              with:
                  version: 9

            - name: Set up Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: 24

            - name: Install dependencies
              run: pnpm install

            - name: Build Vite production
              run: pnpm build

    Push-Image:
        name: Build Docker image
        runs-on: ubuntu-latest
        needs: Build
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Install pnpm
              uses: pnpm/action-setup@v4
              with:
                  version: 9

            - name: Set up Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: 24

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Install dependencies
              run: pnpm install

            - name: Login to GitHub Container Registry
              uses: docker/login-action@v3
              with:
                  registry: ghcr.io
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - name: Build and Push Docker image
              uses: docker/build-push-action@v6
              with:
                  cache-from: type=gha
                  cache-to: type=gha,mode=max
                  push: true
                  tags: |
                      ghcr.io/nycu-sdc/sciedu-frontend:stage
                      ghcr.io/nycu-sdc/sciedu-frontend:${{ github.sha }}
                  context: .
                  build-args: |
                      VITE_BUILD_MODE=staging

    Deploy:
        name: Deploy
        needs: Push-Image
        runs-on: ubuntu-latest
        steps:
            - name: Trigger n8n Snapshot Webhook
              run: |
                  curl --location --request POST 'https://webhook.sdc.nycu.club/webhook/deploy' \
                    --header 'Content-Type: application/json' \
                    --header 'x-deploy-token: ${{ secrets.N8N_DEPLOY_TOKEN }}' \
                      --data-raw '{
                    "source": {
                      "title": "SciEdu",
                      "repo": "${{ github.repository }}",
                      "branch": "${{ github.head_ref || github.ref_name }}",
                      "commit": "${{ github.sha }}"
                    },
                    "method": "deploy",
                    "metadata": {
                      "environment": "stage",
                      "component": "frontend"
                    },
                    "post": {
                      "notify_discord": {
                        "enable": true,
                        "channel": "sciedu-activity"
                      },
                      "setup_domain": {
                        "enable": true,
                        "title": "Endpoint",
                        "name": "stage.sciedu.sdc.nycu.club",
                        "value": "default-eng-deploy:internal"
                      }
                    }
                  }'
